<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Example">
  <meta name="author" content="Jonathan Häberle">
  <title></title>

  <!-- External Library -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.0/q.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>

  <!-- External CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <style type="text/css">
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }

    .row {
      margin: 1em;
    }
    
    textarea:focus, input:focus{
      outline: 0;
    }
  </style>

  <!-- The Modelizer Library -->
  <script type="text/javascript" src="modelizer.js"></script>
  <script type="text/javascript" src="angular.modelizer.js"></script>

  <!-- The definitions of our example models -->
  <script type="text/javascript" src="models.js"></script>

  <script type="text/javascript">
    // client code
    var connector = Model.AngularConnector("http://localhost:8080/");
    EntryModel.connection(connector);

    var app = angular.module('App', []);
    app.controller('AppController', function ($scope) {
      EntryModel.angular($scope);

      $scope.entries = EntryModel.$all();


      // add a new comment to the article
      $scope.add = function() {
        $scope.entries.create();
      };

      // save model to the server
      $scope.save = function() {
        $scope.entries.save();
      }
    });


  </script>

</head>
<body ng-app="App">

  <div ng-controller="AppController">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Modelizer Example</a>
        </div>
      </div>
    </div>

    <div class="container theme-showcase">

      <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
          <button class="btn btn-default" type="button" ng-click="add()">Add +</button>
          <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        </div>
      </div>


      <div class="row" ng-repeat="entry in entries">
        <div class=".col-md-6 .col-md-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="entry.text">
          </div>
        </div>
      </div>


    </div>

  </div>
</body>
</html>